.navbar {
  height: 50px;
  /* background-color: var(--main-color); */
  color: lightgray;
  padding: 0% 1%;
  align-items: center;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
}

.scrolled {
  background-color: var(--main-color);
}

.logo {
  height: 50px;
}

.flex {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: white;
  border-bottom: 4px solid white;
}

.pointer:active,
.pointer.active {
  color: white;
}
