.itemContainer {
  width: 225px;
  height: 120px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  overflow: hidden;
  cursor: pointer;
  color: white;
}

.banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item:hover {
  width: 350px;
  height: 300px;
  position: absolute;
  top: -150px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.item:hover .banner,
.item.hover .banner {
  height: 140px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.icons {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  z-index: 10;
}

.icon {
  border-radius: 50%;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  z-index: 10;
}
.stats {
  margin-right: 10px;
}

.border {
  border: 1px solid gray;
  padding: 1px 3px;
}

.description {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: lightgray;
  text-align: justify;
}

.genre {
  font-size: 14px;
  color: gray;
  margin-right: 10px;
}

.modal {
  position: relative;
}
