.backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 85%;
  height: 85%;
  z-index: 99;
  border-radius: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.fade {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 31%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.6),
    #0b0b0b
  );
}

.close {
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.5);
  margin: 10px;
}

.close:hover {
  color: white;
  cursor: pointer;
}

.bottom {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
}

.bottomLeft {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: var(--main-color);
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: white;
  z-index: 101;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  text-align: justify;
}

.info {
  display: flex;
  align-items: center;
  margin: 1%;
  margin-left: 2%;
  font-weight: 500;
  font-size: 14px;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  margin-right: 2%;
  height: 30px;
}

.trailer {
  background-color: white;
  color: var(--main-color);
}

.stats {
  display: flex;
  color: white;
}

.border {
  border: 1px solid white;
  padding: 0.5% 1%;
  margin-right: 2%;
  border-radius: 5px;
}
.language {
  color: gray;
}
.space {
  margin-right: 5%;
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}

.overview {
  color: lightgray;
  margin: 1.5% 2% 1.5% 2%;
  text-align: justify;
}

.genres {
  color: gray;
  margin-left: 2%;
  margin-right: 2%;
}

.genre {
  margin-right: 5%;
}

.bottomRight {
  position: absolute;
  width: 30%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: var(--main-color);
}

.regionInput {
  position: absolute;
  top: 50px;
  left: 30px;
  color: gray;
}

.regionInput:hover {
  color: white;
}

.input {
  background-color: transparent;
  border: 1px solid gray;
  margin-left: 20px;
  color: lightgray;
  width: 30%;
}

.input:hover {
  border: 1px solid white;
  cursor: pointer;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}

.providers {
  position: absolute;
  top: 87px;
  left: 30px;
  color: gray;
}

.alert {
  color: lightgray;
  margin: 0;
}
.infoBorder {
  background-color: rgba(37, 37, 37, 0.8);
  width: 1000%;
  height: 1000%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
}

.providerIcon {
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 5px;
}

.providerTab {
  margin: 0;
}

.container {
  height: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
