.navbar {
  height: 50px;
  color: lightgray;
  padding: 0% 1%;
  align-items: center;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
}

.scrolled {
  animation: fade-in 2000ms;
  background-color: var(--main-color);
}

.logo {
  height: 50px;
}

.flex {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  text-decoration: none;
}

.pointer:hover {
  cursor: pointer;
  color: white;
}

.link:hover {
  color: white;
  border-bottom: 4px solid white;
}

a.active {
  color: white;
  font-weight: bold;
}

.searchbar {
  background-color: transparent;
  border: 1px solid lightgray;
  margin-right: 150px;
  color: lightgray;
}
