.navbar {
  height: 50px;
  width: auto;
  /* background-color: var(--main-color); */
  color: white;
  padding: 0% 1%;
  align-items: center;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
}

.scrolled {
  background-color: var(--main-color);
}

.logo {
  max-height: 90%;
}

.flex {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
